<div class="chat-message-item
        {{#if isImage}}chat-message-item--image{{/if}}
        {{#if isIncoming}}chat-message-item--incoming{{/if}} ">
    <div class="chat-message-item__title">{{ author }}</div>
    <div class="chat-message-item__content">
        {{#if isImage}}
            <img src="{{ messageContent }}" class="chat-message-item__content-image" alt="{{ author }}"/>
        {{else}}
            {{messageContent}}
        {{/if}}
    </div>
    <div class="chat-message-item__date">{{ messageDate }}</div>
</div>
