<div class="chat-header flex flex-ai-center gap-12">
  <div class="chat-header__avatar flex-00a" {{#if avatar }}style="background-image: url({{avatar}})"{{/if}}></div>
  <div class="chat-header__name flex-11a">{{ chatName }}</div>
  <div class="chat-header__settings">
    {{{ buttonAddUser }}}
    {{{ buttonRemoveUser }}}
    {{{ buttonRemoveChat }}}
  </div>
</div>
