<label class="field">
    <span class="field__title">{{ label }}</span>
    <input class="field__input" placeholder="{{ placeholder }}" autocomplete="false" value="{{ value }}" type="{{ type }}" name="{{ name }}">
    {{#if rule}}
      <span class="field__desc">{{ rule }}</span>
    {{/if}}
    {{#each errorText }}
      <span class="field__error">{{this}}</span>
    {{/each}}
</label>
