<label class="field">
    <span class="field__title">{{ label }}</span>
    <input class="field__input" placeholder="{{ placeholder }}" type="{{ type }}" name="{{ name }}">
    <span class="field__error">{{ errorText }}</span>
</label>